/* صف الكروت */
.auth-cards-wrapper {
    display: flex;
    gap: 14px;
    justify-content: center;
    width: 100%;
    align-items: stretch;
}

/* كل كارت أصغر شويّة */
.auth-card {
    background: white;       
    padding: 24px;           /* أصغر من قبل */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    border: 1px solid #eef2f6; 
    flex: 0 0 38%;           /* أصغر شويّة */
    min-width: 250px;      
    max-width: 350px;        
    margin-bottom: 0;
}

/* نصوص الكارت */
.auth-card p {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 14px;
    color: #000000;          
}

/* أزرار الكارت */
.btn-blue {
    background-color: #ff8a2a; 
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s;
}

.btn-blue:hover {
    background-color: #FFD8B0; 
}

.btn-yellow {
    background-color: #FFD8B0; 
    color: #ffffff;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s;
}

.btn-yellow:hover {
    background-color: #ff8a2a; 
}
.booking-container {
    background-color: #ffe5cc !important; /* force اللون */
    min-height: 100vh;
}

